:root {
  --pretige-blue : #2c3e50;
  --tomato-orange: #ff6348;
  --black-pearl: #1e272e;
}

/* btn */
button {
  border-style: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-editor{
  width: 100%;
  height: 100%;
} 


/* upload zone */
.upload-outer-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color : gray;
  font-size: 50px;
  border: 5px solid var(--black-pearl);
}

.upload-area{
  border-style: dashed;
  border-width: 10px;
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline:0;
}


.upload-icon{
  font-size: 100px;
  background: var(--tomato-orange);
  text-align: center;
  line-height: 200px !important;
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  transition: 0.3s linear;
}

.upload-area:hover .upload-icon{
  background: none;
  color: var(--tomato-orange);
  transform: scale(1.6);
  
}


/* tool bar */
.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pretige-blue);
}


/* tool button */
.tool-btn {
  color: white;
  background-color: var(--pretige-blue);
  padding: 3px;
  margin: 2px;
  outline:0;
}

.tool-btn p{
  font-weight: bold;
  text-align: center;
}

/* tool icon */
.tool-icon {
  text-align: center;
  line-height: 35px !important;
  font-size: 28px;
  width: 35px;
  height: 35px;
  transition: 0.1s linear;
}

.tool-btn:hover {
  cursor: pointer;
  background: var(--black-pearl);
  color: var(--tomato-orange);
  border-radius: 50%;
}

.tool-btn.active{
  background: var(--black-pearl);
  color: var(--tomato-orange);
  border-radius: 50%;
}

/* image editor */
.editor-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/*react crop area*/
.react-crop{
  border: 5px solid var(--black-pearl);
}

/* crop zone*/
.crop-zone {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  position: relative;
  align-items: center;
}

.crop-zone .right{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.crop-zone .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Main */
.App .container{
  height: 80%;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 17% auto 17%;
}

.split.left {
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1/ 3;
}

.split.right{
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
